extends layout

block content
  div(style="padding: 10px; margin: 10px;")
    h1(style="color: blue;")= title
    p(style="color: green;") Welcome to #{title}! hi there it's assignment10
    button(style="padding: 10px; margin: 10px;") I am a button
    button(style="padding: 10px; margin: 10px;",type="button", class="btn btn-warning") Press me
